In [1]:
import pandas as pd

In [2]:
lend_club_df = pd.read_csv("loan.csv", low_memory=False)
lend_club_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
lend_club_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 145 entries, id to settlement_term
dtypes: float64(105), int64(4), object(36)
memory usage: 2.4+ GB

In [44]:
lend_club_df.count()

id                             0
member_id                      0
loan_amnt                2260668
funded_amnt              2260668
funded_amnt_inv          2260668
                          ...
settlement_status          33056
settlement_date            33056
settlement_amount          33056
settlement_percentage      33056
settlement_term            33056
Length: 145, dtype: int64

In [5]:
lend_club_df.count().to_csv('column_count.csv')

In [4]:
columns_below_100_percent = lend_club_df.columns[100*(lend_club_df.count()/len(lend_club_df.index)) < 100]
columns_below_100_percent

Index(['id', 'member_id', 'emp_title', 'emp_length', 'annual_inc', 'url',
       'desc', 'title', 'zip_code', 'dti',
       ...
       'hardship_loan_status', 'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=113)

In [5]:
columns_below_99_percent = lend_club_df.columns[100*(lend_club_df.count()/len(lend_club_df.index)) < 99]
columns_below_99_percent

Index(['id', 'member_id', 'emp_title', 'emp_length', 'url', 'desc', 'title',
       'mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d',
       'mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal',
       'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit',
       'revol_bal_joint', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths',
       'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
       'sec_app_open_act_il', 'sec_app_num_rev_accts',
       'sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog', 'hardship_type',
       'hardship_reason', 'hardship_status', 'deferral_term',
       'hardship_amount', 'hardship_start_date', 'hardship_end_date',
       'payment_plan_start_date', 'hardship_length', 'hardship_dpd',
       'hardship_loan_status', 'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object')

In [6]:
len(columns_below_99_percent)

95

In [17]:
lend_club_net_col_df = lend_club_df.drop(columns_below_99_percent, axis=1)
lend_club_net_col_df.shape

(2260668, 50)

In [22]:
lend_club_net_col_df['issue_d'].value_counts()

issue_d
Mar-2016    61992
Oct-2015    48631
May-2018    46311
Oct-2018    46305
Aug-2018    46079
            ...
Aug-2007       74
Jul-2007       63
Sep-2008       57
Sep-2007       53
Jun-2007       24
Name: count, Length: 139, dtype: int64

In [18]:
pd.to_datetime(lend_club_net_col_df['issue_d']).dt.year.value_counts()

C:\Users\Jerry\AppData\Local\Temp\ipykernel_21404\301680155.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(lend_club_net_col_df['issue_d']).dt.year.value_counts()

issue_d
2018    495242
2017    443579
2016    434407
2015    421095
2014    235629
2013    134814
2012     53367
2011     21721
2010     12537
2009      5281
2008      2393
2007       603
Name: count, dtype: int64

In [29]:
lend_club_net_col_df['issue_d'] = pd.to_datetime(lend_club_net_col_df['issue_d'])
lend_club_net_col_df = lend_club_net_col_df.set_index(lend_club_net_col_df['issue_d'])
lend_club_net_col_df = lend_club_net_col_df.sort_index()
lend_club_2017and2018_df = lend_club_net_col_df['Jan-2017':'Dec-2018']
lend_club_2017and2018_df.shape
# https://stackoverflow.com/questions/37532098/split-dataframe-into-two-on-the-basis-of-date

(938821, 50)

In [30]:
pd.to_datetime(lend_club_2017and2018_df['issue_d']).dt.year.value_counts()

issue_d
2018    495242
2017    443579
Name: count, dtype: int64

In [31]:
lend_club_2017and2018_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 938821 entries, 2017-01-01 to 2018-12-01
Data columns (total 50 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   loan_amnt                   938821 non-null  int64
 1   funded_amnt                 938821 non-null  int64
 2   funded_amnt_inv             938821 non-null  float64
 3   term                        938821 non-null  object
 4   int_rate                    938821 non-null  float64
 5   installment                 938821 non-null  float64
 6   grade                       938821 non-null  object
 7   sub_grade                   938821 non-null  object
 8   home_ownership              938821 non-null  object
 9   annual_inc                  938821 non-null  float64
 10  verification_status         938821 non-null  object
 11  issue_d                     938821 non-null  datetime64[ns]
 12  loan_status                 938821 non-null  object
 13  pymnt_plan                  938821 non-null  object
 14  purpose                     938821 non-null  object
 15  zip_code                    938820 non-null  object
 16  addr_state                  938821 non-null  object
 17  dti                         937175 non-null  float64
 18  delinq_2yrs                 938821 non-null  float64
 19  earliest_cr_line            938821 non-null  object
 20  inq_last_6mths              938821 non-null  float64
 21  open_acc                    938821 non-null  float64
 22  pub_rec                     938821 non-null  float64
 23  revol_bal                   938821 non-null  int64
 24  revol_util                  937785 non-null  float64
 25  total_acc                   938821 non-null  float64
 26  initial_list_status         938821 non-null  object
 27  out_prncp                   938821 non-null  float64
 28  out_prncp_inv               938821 non-null  float64
 29  total_pymnt                 938821 non-null  float64
 30  total_pymnt_inv             938821 non-null  float64
 31  total_rec_prncp             938821 non-null  float64
 32  total_rec_int               938821 non-null  float64
 33  total_rec_late_fee          938821 non-null  float64
 34  recoveries                  938821 non-null  float64
 35  collection_recovery_fee     938821 non-null  float64
 36  last_pymnt_d                937582 non-null  object
 37  last_pymnt_amnt             938821 non-null  float64
 38  last_credit_pull_d          938808 non-null  object
 39  collections_12_mths_ex_med  938821 non-null  float64
 40  policy_code                 938821 non-null  int64
 41  application_type            938821 non-null  object
 42  acc_now_delinq              938821 non-null  float64
 43  chargeoff_within_12_mths    938821 non-null  float64
 44  delinq_amnt                 938821 non-null  float64
 45  pub_rec_bankruptcies        938821 non-null  float64
 46  tax_liens                   938821 non-null  float64
 47  hardship_flag               938821 non-null  object
 48  disbursement_method         938821 non-null  object
 49  debt_settlement_flag        938821 non-null  object
dtypes: datetime64[ns](1), float64(27), int64(4), object(18)
memory usage: 365.3+ MB

In [32]:
lend_club_2017and2018_df.to_csv('LC_loans_2017-2018.csv')